.para
{
  text-align: center;
}

.second_para
{
  font-size: 20px;
  text-align: center;

}

.arrows
{
  margin-top: 4%;
  display: inline-flex;
  margin-left: 12.5%;
  width: 75%;
}

.arrow{
  width: 50%;
  text-align: center;
  cursor: pointer;
}

.image_container
{
  width: 56%;
  margin-left: auto;
  margin-right: auto;
  height:400px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 3%;
}
